@charset "UTF-8";

/*
typical device breakpoints
--------------------------
pequenas telas: até 600px
celular: de 600px até 768px
tablet: 768px até 992px
desktop: 992px até 1200px
Grandes telas: acima de 1200px 

*/
/**
paleta de cores

#F285C1
#CE7ED9
#574759
#024059
#F2C4B3

**/


@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #F2C4B3,#024059,#574759);
    }
    section#login {
        width: 80vw;
    }
    section#login > div#imagem {
        float:right;
        width: 40%;
        height: 100%;
    }
}

    section#login > div#formulario {
        float: left;
        width: 50%;
        
    }
    div#formulario > h1 {
        font-size: 2em;
    }
    div#formulario > p {

        font-size: 1.2em;
    }
 

    @media screen  and (min-width: 992px){
        body {
            background-image: linear-gradient(to top,#574759,#CE7ED9,#F285C1, #574759);
        }
        section#login {
            width: 950px;
        }
        section#login > div#imagem {
            float: right;
            width: 40%;
            height: 100%;
        }
        section#login > div#formulario{
            float: left;
            width: 45%;
        }
        div#formulario > h1 {
            font-size: 2em;
        }
        div#formulario > p {
            font-size: 1.2em;
        }
    }
