@charset "UTF-8";

/**
paleta de cores

#text-size-adjust: inherit;
   font-size: 9px;

   padding: 5px;
   margin-right: 10px;
  #F285C1rosa
#CE7ED9 rosa lilas
#574759 lilas cinsa
#024059 verde 
#F2C4B3 coral lith

**/
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
* {
    font-family: "Bodoni Moda SC", serif;
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body, html {
    background:#024059;
    height: 100vh;
    width: 100vw;
}
main {
    position: relative;
    height:100vh;
    width:100vw;
}
section#login {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
    background: #CE7ED9 ;
    width:250px;
    height: 600px;
    border-radius:20px;
    box-shadow:0px 0px 14px white ;
}
section#login > div#imagem {
    display:block;
    background:#CE7ED9 url(../imagens/img-x.jpg.jpg) no-repeat;
    background-size:cover;
    height:200px;
}
section#login > div#formulario {
    display:block;
    padding:10px;
}