@charset "UTF-8";

/**
paleta de cores

#text-size-adjust: inherit;
   font-size: 9px;

   padding: 5px;
   margin-right: 10px;
  #F285C1rosa
#CE7ED9 rosa lilas
#574759 lilas cinsa
#024059 verde 
#F2C4B3 coral lith

**/
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
* {
    font-family: "Bodoni Moda SC", serif;
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body, html {
    background-image: linear-gradient(to left,#F285C1, #CE7ED9,#574759);
    height: 100vh;
    width: 100vw;
}
main {
    position: relative;
    height:100vh;
    width:100vw;
}
section#login {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
    background: #e4b6eb ;
    width:280px;
    height: 600px;
    border-radius:20px;
    box-shadow:0px 0px 14px white ;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
section#login > div#imagem {
    display:block;
    background:#CE7ED9 url(../imagens/img-x.jpg.jpg) no-repeat;
    background-size:cover;
    height:200px;
}
section#login > div#formulario {
    display:block;
    padding:10px;
}
div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p {
    font-size: 0.8em;
}
div#campo{
    font-size: 0.8em;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #CE7ED9,
        #574759,#024059);
    }
    section#login{
        width:90vw;
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
        
    }
    section#login > div#formulario{
        float: right;
        width: 70%;

    }
    div#formulario > h1 {
        font-size: 1.8em;
    }
    div#formulario > p {
        font-size: 1.2em;
    }

}
@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top,  #024059 ,#574759,#CE7ED9,#574759,#024059

         );
    }
    section#login{
        width: 990px;
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario{
        float: left;
        width: 50%;
    }
    div#formulario > h1 {
        font-size: 2em;
    }
    div#formulario > p {
        font-size: 1.2em;
    }
}