@charset "UTF-8";

/**
paleta de cores

#F285C1
#CE7ED9
#574759
#024059
#F2C4B3

**/

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #F285C1;
    height: 100vh;
    width: 100vw;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;


    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.671);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
section#login > div#imagem {
    display: block;
    background: #F285C1 url(../imagens/pexels-rickyrecap-1964471.jpg) no-repeat;
    background-size: cover;
    height: 250px;
    
}
section#login > div#formulario {
    display: block;
    padding: 10px;
    margin: 10px;
}